<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar cliente</title>
</head>
<body>
    <header>
        <h1>TIENDA DE ALFONZO</h1>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="crear.html">Crear Cliente</a></li>
                    <li><a href="buscar.html"> Buscar Cliente</a></li>
                    <li><a href="actualizar.html"> <span>Actualizar Cliente</span></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="pared"></div>
    <h2>Formulario Actualizar Cliente</h2>
    <div class="for">
        
            <div class="hf">
                <label for="nombre">Nombre:</label>
                <input class="n"  type="text" name="nombre" placeholder="Ingresa el nombre">
            
                <label for="saldo">Saldo:</label>
                <input class="n" type="number" value="saldo" placeholder="Ingrese el saldo">
            
                <label for="numero">Numero:</label>
                <input class="n" type="number" value="numero" placeholder="Ingrese el numero">
            </div>
        <div class="imagen">
            <img src="images/actualizar.jpeg" alt="">
        </div>
    </div>

</body>
</html>