<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <h1>TIENDA DE ALFONZO</h1>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="index.html"><span>Inicio</span></a></li>
                    <li><a href="crear.html">Crear Cliente</a></li>
                    <li><a href="buscar.html">Buscar Cliente</a></li>
                    <li><a href="actualizar.html">Actualizar Cliente</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1 class="tt">Lista de Clientes</h1>
    <br>
    <br>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>