<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar cliente</title>
</head>
<body>
    <header>
        <h1>TIENDA DE ALFONZO</h1>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="{{url_for('principal')}}">Inicio</a></li>
                    <li><a href="{{url_for('agregar_cliente')}}">Crear Cliente</a></li>
                    <li><a href="{{url_for('buscar_cliente')}}"> <span>Buscar Cliente</span></a></li>
                    <li><a href="{{url_for('editar_cliente')}}">Actualizar Cliente</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="pared"></div>
    <h2>Formulario Buscar Cliente</h2>
    <div class="for">
            <div class="hf">
                <form action="{{url_for('obtener_Cliente')}}" method="POST">
                    <label for="numeroCelular">Numero:</label>
                    <input class="n" type="number"  name="numeroCelular" id="numeroCelular" placeholder="Ingrese el numero">
                </form>
            </div>
        <div class="imagen">
            <img src="images/buscando.jpeg" alt="">
        </div>
    </div>
</body>
</html>
