<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Celular</td>
                    <td>Saldo</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{buscar_clientes[0][0]}}</td>
                    <td>{{buscar_clientes[0][1]}}</td>
                    <td>{{buscar_clientes[0][2]}}</td>
                </tr>
            </tbody>
</table>
</body>
</html>